.margin-top-20 {
    margin-top: 20px;
}

.brand {
    font-size: 15px;
    position: relative;
    top: -12px;
}

.logout {
    cursor: pointer;
    color: #173F5F;
}

ul {
list-style-type: none;
}

.navbar-color {
    background-color: #17a2b8;
}

.img-item {
    width: 400px;
    position:relative;
    overflow:hidden;
    min-height: 300px;
    max-height: 300px;
    max-width: 400px;
    height: auto;
    margin: 3px;
    padding: 3px;
}

.img-carusel {
    width: 550px;
    position:relative;
    overflow:hidden;
    min-height: 400px;
    max-height: 400px;
    max-width: 550px;
    height: auto;
    margin: 3px;
    padding: 3px;
} 

.pagination {
    justify-content: center;
}

#pagination-color {
    background-color: #17a2b8;
    border-color: #10707f;
    color: white;
    cursor: pointer;
}

#pagination-color:hover {
    color: rgb(255, 255, 255);
}

.page-link:hover{
    background: red;
}

label {
    color: #085861;
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.login-lable {
    color: #117a8b;
    background-color: white;
}

h1, h3 {
    font-family: sans-serif;
    text-align: center;
    color: #117a8b;
}

p {
    font-family: sans-serif;
    text-align: center;  
}

.margin-right {
    margin-right: 10px;
}

.center {
    text-align: center;
}

.item {
    width: 450px;
    min-height: 350px;
    max-height: 350px;
    max-width: 450px;
    height: auto;
    margin: 3px;
    padding: 3px;
} 

.profile-menu {
    color: rgba(255,255,255,.5);
    font-size: 0.8rem;
}

.profile-menu:hover {
    color: rgb(255, 255, 255);
}

.text {
    color: #085861;
    font-family: sans-serif;
    font-weight: bold;
}

.join {
    color: #0a727e;
    text-align: center;
}

.current-user-message {
    font-size: 18px;
    font-weight:500;
    text-align: right;
    border: 2px solid #dedede;
    background-color: #17a2b8;
    color:white;
    border-radius: 12px;
    padding: 10px;
    margin: 10px 0;
    word-wrap: break-word;
} 

.current-user-message:after{
    content: "";
    clear: both;
    display: table;
}

.current-user-name {
    float: right;
    color: white;
    font-weight: bold;
}

.user-message {
    font-size: 18px;
    font-weight:500;
    text-align: left;
    border: 2px solid #dedede;
    background-color: white;
    color:#17a2b8;
    border-radius: 12px;
    padding: 10px;
    margin: 10px 0;
    word-wrap: break-word;
}

.user-message:after{
    content: "";
    clear: both;
    display: table;
}

.chat {
    padding: 15px;
    background-color: white;
    width: 100%;
    height: 400px;
    overflow: scroll;
    border: 1px solid #17a2b8;
}

small {
    font-style: italic;
}
