.margin-top-20 {
    margin-top: 20px;
}

.brand {
    font-size: 10px;
    position: relative;
    top: -12px;
}

.logout {
    cursor: pointer;
    color: #173F5F;
}

ul {
list-style-type: none;
}

.navbar-color {
    background-color: #17a2b8;
}

.img-item {
    width: 400px;
    position:relative;
    overflow:hidden;
    min-height: 300px;
    max-height: 300px;
    max-width: 400px;
    height: auto;
    margin: 3px;
    padding: 3px;
}

.pagination {
    justify-content: center;
}

#pagination-color {
    background-color: #17a2b8;
    color: white;
    cursor: pointer;
}

#pagination-color:hover {
    color: rgb(255, 255, 255);
}

.page-link:hover{
    background: red;
}


label {
    color: #085861;
    background-color: #085861;
    font-family: sans-serif;
}

.login-lable {
    color: #212529;
}

h1, h3 {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-family: sans-serif;
    text-align: center;
}

.margin-right {
    margin-right: 10px;
}


.center {
    margin: auto;
    width: 50%;
}


.item {
    width: 500px;
    min-height: 400px;
    max-height: 400px;
    max-width: 500px;
    height: auto;
    margin: 3px;
    padding: 3px;
} 

.profile-menu {
    color: rgba(255,255,255,.5);
    font-size: 0.8rem;

}

.profile-menu:hover {
    color: rgb(255, 255, 255);
}

.current-user-message {
    color: #011c1f
}

.user-message {
    color: #0a727e
}
/* 
.chat-container {
    height: 400px;
    overflow: auto;
    transform: rotate(180deg);
    direction: rtl;
} */
  
